@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.debug {
  border: 1px solid rgba(255, 0, 0, 0.249);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   
}

.scrollbox::-webkit-scrollbar {
  width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #898989;
}

.scrollbox::-webkit-scrollbar-thumb:active {
  background: #a5a5a5;
}

.scrollbox {
  scrollbar-gutter: stable;
}
.title-skill{
  font-size: 15px;
  font-weight: 500;

}
.textSkills{
  font-size: 13px;
  font-weight: 400;
  
}